<div class="alert alert-block alert-info">
    import <b>Libraries</b>
</div>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import warnings
import joblib
warnings.filterwarnings('ignore')

<div class="alert alert-block alert-warning">
   <b>Data Loading and Exploration</b>
</div>

In [2]:
df = pd.read_csv("cyp.csv")
df
print("Data Loaded Successfully!")

Data Loaded Successfully!

<div class="alert alert-block alert-success">
    Data <b>Exploration</b>
</div>

In [3]:
df.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [4]:
df.tail()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
19684,Small millets,1998,Kharif,Nagaland,4000.0,2000,1498.0,395200.00,1160.00,0.500000
19685,Wheat,1998,Rabi,Nagaland,1000.0,3000,1498.0,98800.00,290.00,3.000000
19686,Maize,1997,Kharif,Jammu and Kashmir,310883.0,440900,1356.2,29586735.11,96373.73,1.285000
19687,Rice,1997,Kharif,Jammu and Kashmir,275746.0,5488,1356.2,26242746.82,85481.26,0.016667
19688,Wheat,1997,Rabi,Jammu and Kashmir,239344.0,392160,1356.2,22778368.48,74196.64,1.261818

In [5]:
df.columns

Index(['Crop', 'Crop_Year', 'Season', 'State', 'Area', 'Production',
       'Annual_Rainfall', 'Fertilizer', 'Pesticide', 'Yield'],
      dtype='object')

In [6]:
df.count()

Crop               19689
Crop_Year          19689
Season             19689
State              19689
Area               19689
Production         19689
Annual_Rainfall    19689
Fertilizer         19689
Pesticide          19689
Yield              19689
dtype: int64

In [7]:
df.describe()

,Crop_Year,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
count,19689.000000,1.968900e+04,1.968900e+04,19689.000000,1.968900e+04,1.968900e+04,19689.000000
mean,2009.127584,1.799266e+05,1.643594e+07,1437.755177,2.410331e+07,4.884835e+04,79.954009
std,6.498099,7.328287e+05,2.630568e+08,816.909589,9.494600e+07,2.132874e+05,878.306193
min,1997.000000,5.000000e-01,0.000000e+00,301.300000,5.417000e+01,9.000000e-02,0.000000
25%,2004.000000,1.390000e+03,1.393000e+03,940.700000,1.880146e+05,3.567000e+02,0.600000
50%,2010.000000,9.317000e+03,1.380400e+04,1247.600000,1.234957e+06,2.421900e+03,1.030000
75%,2015.000000,7.511200e+04,1.227180e+05,1643.700000,1.000385e+07,2.004170e+04,2.388889
max,2020.000000,5.080810e+07,6.326000e+09,6552.700000,4.835407e+09,1.575051e+07,21105.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19689 entries, 0 to 19688
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Crop             19689 non-null  object
 1   Crop_Year        19689 non-null  int64
 2   Season           19689 non-null  object
 3   State            19689 non-null  object
 4   Area             19689 non-null  float64
 5   Production       19689 non-null  int64
 6   Annual_Rainfall  19689 non-null  float64
 7   Fertilizer       19689 non-null  float64
 8   Pesticide        19689 non-null  float64
 9   Yield            19689 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 1.5+ MB

In [9]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 19689 and Number of Columns: 10

In [10]:
df['Crop'].unique()

array(['Arecanut', 'Arhar/Tur', 'Castor seed', 'Coconut ', 'Cotton(lint)',
       'Dry chillies', 'Gram', 'Jute', 'Linseed', 'Maize', 'Mesta',
       'Niger seed', 'Onion', 'Other  Rabi pulses', 'Potato',
       'Rapeseed &Mustard', 'Rice', 'Sesamum', 'Small millets',
       'Sugarcane', 'Sweet potato', 'Tapioca', 'Tobacco', 'Turmeric',
       'Wheat', 'Bajra', 'Black pepper', 'Cardamom', 'Coriander',
       'Garlic', 'Ginger', 'Groundnut', 'Horse-gram', 'Jowar', 'Ragi',
       'Cashewnut', 'Banana', 'Soyabean', 'Barley', 'Khesari', 'Masoor',
       'Moong(Green Gram)', 'Other Kharif pulses', 'Safflower',
       'Sannhamp', 'Sunflower', 'Urad', 'Peas & beans (Pulses)',
       'other oilseeds', 'Other Cereals', 'Cowpea(Lobia)',
       'Oilseeds total', 'Guar seed', 'Other Summer Pulses', 'Moth'],
      dtype=object)

In [11]:
df.nunique()

Crop                  55
Crop_Year             24
Season                 6
State                 30
Area               13644
Production         14016
Annual_Rainfall      634
Fertilizer         18598
Pesticide          17405
Yield              13551
dtype: int64

In [12]:
df.isnull().sum()

Crop               0
Crop_Year          0
Season             0
State              0
Area               0
Production         0
Annual_Rainfall    0
Fertilizer         0
Pesticide          0
Yield              0
dtype: int64

In [13]:
df.dtypes

Crop                object
Crop_Year            int64
Season              object
State               object
Area               float64
Production           int64
Annual_Rainfall    float64
Fertilizer         float64
Pesticide          float64
Yield              float64
dtype: object

<div class="alert alert-block alert-danger">
   <b>Data Pre-Processing</b>
</div>

In [14]:
df = df.drop('Area', axis=1)

In [15]:
df = df.drop('Production', axis=1)

In [16]:
df.fillna(df.median(numeric_only=True), inplace=True)

In [17]:
for col in ['Crop', 'Season', 'State']:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [18]:
le_crop = LabelEncoder()
le_season = LabelEncoder()
le_state = LabelEncoder()
    
df['Crop'] = le_crop.fit_transform(df['Crop'])
df['Season'] = le_season.fit_transform(df['Season'])
df['State'] = le_state.fit_transform(df['State'])

<div class="alert alert-block alert-info">
   <b>Dealing with Null Values</b>
</div>

In [19]:
print(df.isnull().sum())
print("Null values have been handled. You should see all zeros above.")

print(df.dtypes)
print("Categorical columns have been converted to int-like types by Label Encoding.")

Crop               0
Crop_Year          0
Season             0
State              0
Annual_Rainfall    0
Fertilizer         0
Pesticide          0
Yield              0
dtype: int64
Null values have been handled. You should see all zeros above.
Crop                 int64
Crop_Year            int64
Season               int64
State                int64
Annual_Rainfall    float64
Fertilizer         float64
Pesticide          float64
Yield              float64
dtype: object
Categorical columns have been converted to int-like types by Label Encoding.

<div class="alert alert-block alert-warning">
   <b>Changing Datatypes of Columns to be "Int"</b>
</div>

In [20]:
for col in df.select_dtypes('object').columns:
    df[col] = pd.factorize(df[col])[0]

print("Final Data Types after conversion:")
print(df.dtypes)

Final Data Types after conversion:
Crop                 int64
Crop_Year            int64
Season               int64
State                int64
Annual_Rainfall    float64
Fertilizer         float64
Pesticide          float64
Yield              float64
dtype: object

<div class="alert alert-block alert-success">
   <b>Train test Splitting</b>
</div>

In [21]:
X = df.iloc[:, :-1] 
Y = df.iloc[:, -1]  

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, shuffle=False, random_state=42)

print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"Y_train shape: {Y_train.shape}")
print(f"Y_test shape: {Y_test.shape}")

X_train shape: (13782, 7)
X_test shape: (5907, 7)
Y_train shape: (13782,)
Y_test shape: (5907,)

<div class="alert alert-block alert-danger">
   <b>Choose and apply the right model</b>
</div>

In [22]:
model = RandomForestRegressor(n_estimators=100, random_state=42)

model.fit(X_train, Y_train)

print("Random Forest Regressor Model Trained Successfully.")

Random Forest Regressor Model Trained Successfully.

<div class="alert alert-block alert-info">
   <b>Testing/Predicting</b>
</div>

In [23]:
Y_pred = model.predict(X_test)

print("Predictions completed.")

Predictions completed.

<div class="alert alert-block alert-warning">
   <b>Display Accuracy Score</b>
</div>

In [24]:
mae = mean_absolute_error(Y_test, Y_pred)
rmse = np.sqrt(mean_squared_error(Y_test, Y_pred))
r2 = r2_score(Y_test, Y_pred)
accuracy = r2 * 100

print(f"MAE: {mae:.4f}, RMSE: {rmse:.4f}, R2: {r2:.4f}")
print(f"Approximate Model Accuracy: {accuracy:.2f}%")

MAE: 7.1625, RMSE: 146.0291, R2: 0.9455
Approximate Model Accuracy: 94.55%

In [25]:
joblib.dump(model, 'random forest regressor model.pkl')
print("Model saved as 'random forest regressor model.pkl'")

Model saved as 'random forest regressor model.pkl'